
.DS_Store
Thumbs.db
.env
.env.local
*.local.properties


backend/node_modules/
backend/npm-debug.log*


web/node_modules/
web/build/
web/npm-debug.log*


mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.log*

mobile/android/.gradle/
mobile/android/app/build/
mobile/android/.idea/
mobile/android/*.iml